  Een verzoek werd gedaan om je paswoord te resetten. Als je dit niet zelf deed, negeer dan gewoon deze mail. Als je dit wel deed klik dan op volgende link:
  #{@edit_password_url}

  Als de bovenstaande URL niet werkt, probeer hem dan te kopiëren en te plakken in je browser. Als je blijvend problemen ondervindt neem dan contact met ons op door te antwoorden op deze mail.
  
  Vriendelijke groeten
  Het Talenhuis
