<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>

    
    <p>Volgende eindevaluatie werd toegevoegd :</p>  
    
    <p>
      Naam : <%= @evaluation.name %></br>
      Trainer :<%= @trainer.name %></br>
    </p>
    

    <p>
      <a href="http://crm.talenhuis.be/evaluations/<%= @evaluation.id%>">Bekijk deze evaluatie in de CRM</a>
    </p>

    
  </body>
</html>