<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Beste <%= @contact.first_name %></p>
    <p><%=h(@comment.comment).gsub(/\n/, '<br/>')%></p>
    <p>Met vriendelijke groet</p>
    
  </body>
</html>